<div class="container">
<h1> Ideas </h1>

<% @ideas.each do |idea| %>
  <div class="row">
    <div class="well">
  <h2><%= idea.title%></h2>
  <p>Created On: <%= formatted_date(idea.created_at) %></p>
  <p><%= idea.body %></p>
  <p>By: <%= link_to idea.user.full_name, idea %></p>
    </div>
  </div>
<% end %>
</div>