.space {
  margin-top:50px;
  display: inline-block;
}

.navbar {
  background-color: #ffa07a;
}

.well {
  background-color: #ffa07a;
}

.btn {
  background-color: #f0e68c;
  border-radius: 0px;
}

.field_with_errors {
  background-color: red;
}